<div class="container-fluid my-5 textcolor">
  <div class="d-flex flex-column align-items-stretch flex-wrap streamchart">
    <ngx-charts-bar-vertical
      [view]="view"
      [animations]="animations"
      [scheme]="colorScheme"
      [results]="single"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [tooltipDisabled]="tooltipDisabled"
      [barPadding]="barPadding">
    </ngx-charts-bar-vertical>
  </div>
</div>
