<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>-->
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-secondary" type="button" (click)="clicked()">
          <i fa class="fa fa-play fa-color-white"></i>
        </button>
      </li>
    </ul>
    <ul class="navbar-nav mr-sm-1">
      <li class="nav-item my-2 mr-sm-2">
        <fa [size]="2" [name]="connectionStatusObserver | async"></fa>
      </li>
    </ul>
  </div>
</nav>

<div *ngIf="hasError" class="alert alert-danger" role="alert">
  <strong>Error!</strong> Error during loading configuration!
</div>

<div *ngIf="isReady">
  <app-stream-barchart></app-stream-barchart>
  <app-stream-table></app-stream-table>
</div>
