<div class="container-fluid">
  <div class="input-group">
    <div class="input-group-addon">
      <i fa class="fa fa-search fa-color-white"></i>
    </div>
    <input (keyup)="onKey($event)" class="form-control" placeholder="Filter">
  </div>
</div>

<div class="container-fluid">
  <table class="table table-striped table-hover table-bordered">
    <tbody>
      <tr class="messagerow" *ngFor="let message of messageObserver | async">
        <td>1</td>
        <td>{{message}}</td>
      </tr>
    </tbody>
  </table>
</div>
